* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-style: normal;
}

body {
    width: 1024px;
    height: 768px;
    display: flex;
    margin: 0 auto;
}

header {
    position: relative;
    color: white;
    text-transform: uppercase;
    left: 200px;
    top: 20px;
    font-size: 30px;

}

main {
    display: flex;
}

.left {
    display: flex;
    width: 550px;
}

.right {
    display: flex;
}

.photo {
    position: relative;
    right: 148px;
    margin: auto 0;
}

section {
    position: relative;
    margin: auto 0;
    width: 460px;
    height: 435px;
}

p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
}

h1 {
    font-style: italic;
    font-weight: 300;
}

hr {
    margin-bottom: 20px;
}

#btn {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #2A2D78;
    border-radius: 40px;
    border: 2px solid black;
    margin: 0 auto;
    color: white;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}

#btn:hover {
    background-color: white;
    color: black;
}

footer {
    display: flex;
    width: 1024px;
    position: relative;
    align-self: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    right: 125px;
}



.social-network {
    display: flex;
    margin-top: 10px;
}

.social-list {
    list-style-type: none;
    display: flex;
    margin-top: 5px;
}
.social-item {
    margin: 5px;
}